<div class="row">
    <h1>Educación
    </h1>
    <div class="clo-lg-11">
    <ul>
        <li>
            <h1>Esc. Ing. Pablo Nogués - Título: Maestro Mayor de Obras.
            </h1><h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque iure libero nihil nobis. Laudantium voluptate magnam nulla atque, veritatis deleniti vero, quasi, dignissimos dolore porro soluta repellendus perferendis ex perspiciatis!</p>
        <li>
            <h1>Colaboración Proyecto y Cálculo Estructura Metálica Planta de Tratamiento de Residuos Peligrosos, Parque Industrial Provincial, Lujan de Cuyo - Mendoza</h1><h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque iure libero nihil nobis. Laudantium voluptate magnam nulla atque, veritatis deleniti vero, quasi, dignissimos dolore porro soluta repellendus perferendis ex perspiciatis!</p>
        <li>
            <h1>Colaboración Proyecto y Cálculo Estructura Metálica Ampliación Hotel Río Grande Malargüe</h1><h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque iure libero nihil nobis. Laudantium voluptate magnam nulla atque, veritatis deleniti vero, quasi, dignissimos dolore porro soluta repellendus perferendis ex perspiciatis!</p>
    </ul>
    </div>
    </div>