<div class="row">
<h1>Experiencia laboral
</h1>
<div class="clo-lg-11">
<ul>
    <li>
        <h1>Concurso de anteproyectos Parque Central Mendoza – Ciudad Mendoza</h1><h3>(years)</h3>
    </li>
    <p>Elaboración anteproyecto de estructuras y dibujo CAD en general</p>
    <li>
        <h1>Estructura Metálica Planta de Tratamiento de Residuos Peligrosos, Parque Industrial Provincial, Lujan de Cuyo - Mendoza</h1><h3>(years)</h3>
    </li>
    <p>Colaboración y diseño estructural nave industrial, control de terraplenes y dirección de estructura de la obra.</p>
    <li>
        <h1>Ampliación Hotel Río Grande Malargüe</h1><h3>(years)</h3>
    </li>
    <p>Colaboración diseño estructural y cálculo.</p>
    <li>
        <h1>Casino Maipú Mendoza</h1><h3>(years)</h3>
    </li>
    <p>Colaboración en cálculo y diseño estructural. Estructura de hormigón armado y metálica.</p>
    <li>
        <h1>Colaboración Proyecto y Cálculo Estructura .</h1><h3>(years)</h3>
    </li>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque iure libero nihil nobis. Laudantium voluptate magnam nulla atque, veritatis deleniti vero, quasi, dignissimos dolore porro soluta repellendus perferendis ex perspiciatis!</p>
    <li>
        <h1>Ministerio de Infraestructura - Provincia de Mendoza</h1><h3>(years)</h3>
    </li>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque iure libero nihil nobis. Laudantium voluptate magnam nulla atque, veritatis deleniti vero, quasi, dignissimos dolore porro soluta repellendus perferendis ex perspiciatis!</p>
    </ul>
</div>

</div>